html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

h1 {
  color: rgb(15, 20, 25);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
  text-align: start;
}

i {
  font-size: 18px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}
.fa-regular {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

main,
header {
  width: 500px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: ffffff;
}

header {
  display: flex;
  align-items: space-around;
  padding-bottom: 25px;
}
.keyword-search {
  padding-left: 10px;
  font-family: inherit;
  border-radius: 10px;
  border: 1px solid gray;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#tweet-input {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 16px 0;
  height: 80px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  outline: 1px solid lightgrey;
  border-radius: 10px;
}

#tweet-btn {
  display: block;
  margin: 0 0 0 auto;
  background-color: rgb(15, 20, 25);
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 20px;

  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.reply-input-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  textarea {
    border: none;
    resize: none;
    padding: 10px;
    margin: 20px;
    height: 80px;
    outline: 1px solid lightgrey;
    width: 100%;
    font-size: 16px;
  }
  button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    border: none;
    background-color: rgb(15, 20, 25);
    color: white;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 20px;
  }
}

dropdown {
  position: absolute;
  border: 1px solid grey;
  padding: 6px 40px;
  border-radius: 10px;
  font-weight: 700;
  right: 0;
  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

/* tweet */

.tweet {
  position: relative;
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

.tweet-detail {
  display: flex;
  gap: 4px;
}
.tweet-options {
  text-align: end;
}
.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.tweet-text {
  width: 400px;
  font-size: 16px;
  line-height: 20px;
}

/* images */

.profile-pic {
  border: 1px solid rgb(72, 72, 73);
  border-radius: 50%;
  width: 48px;
}

/* utility */
.hidden {
  display: none;
}

@media (max-width: 768px) {
  main,
  header {
    width: 290px;
  }

  .tweet-text {
    width: 100%;
  }
  .tweet-details {
    width: 200px;
  }
}
